---
---

@import "base";
@import "variables";

header {
  background-position: 0 0;
  padding-bottom: $diagnoal-height + $padding;

  &:after {
    @include diagonal($orange);
  }

  .brand {
    width: 100%;

    img {
      max-width: 100%;
      border-bottom: 2px solid white;
    }

    p {
      max-width: 100%;
      text-align: center;

      color: white;
      font-size: 20px;

      padding-top: $padding / 2;
      margin: 0;
    }

    .social {
      padding: $padding 0;
      justify-content: center;
    }
  }

  form {
    display: block;
    width: 100%;
    padding: $padding / 2;
    border: 2px solid white;

    color: white;

    h2 {
      color: white;
      font-size: 20px;
      font-weight: 700;

      margin-bottom: $padding / 2;

      &:after {
        display: none;
      }
    }

    .input {
      * {
        display: block;
        margin: 0;
      }

      label {
        font-size: 14px;
      }

      input, textarea {
        width: 100%;
        margin-bottom: $padding / 4;
        border: 1px solid #666;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 15px;

        &:focus {
          outline: none;
          border: 1px solid #666;
        }
      }
    }

    button {
      display: block;
      width: 100%;

      color: white;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;

      padding: 8px 12px;

      background-color: $orange;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $darkorange;
      }
    }
  }
}

h2 {
  margin: 0 0 $padding 0;
}

section {
  padding: $padding 0;
}

#directors {
  background-color: $orange;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  h2 {
    width: 100%;
    color: white;

    &:after {
      border-color: white
    }
  }

  .director {
    width: 100px;
    height: 100px;

    margin: $padding / 4;
    border-radius: 100%;
    background-size: cover;

    display: flex;
    align-items: flex-end;

    text-decoration: none;

    &:hover h3 {
      opacity: 1
    }

    h3 {
      pointer-events: none;

      border-radius: inherit;
      margin: 0;

      opacity: 0;
      height: 100%;
      width: 100%;

      // background-color: rgba(248,163,110,.5);
      background-color: transparentize($blue, .5);

      color: white;
      font-size: 16px;
      text-align: center;

      transition: .5s opacity;

      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        display: none;
      }
    }
  }
}

#conduct {
  position: relative;
  padding: $diagnoal-height + $padding * 2 0;

  line-height: 2em;

  h2 {
    color: $blue;
  }

  h4 {
    text-transform: uppercase;
  }

  &:before {
    @include diagonal($orange);
    transform: rotate(180deg);
    content: '';
    display: block;
    position: absolute;
    top: 0;
    z-index: 3;
  }

  &:after {
    @include diagonal($blue);
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 3;
  }
}

#advisors {
  color: white;
  background-color: $blue;

  position: relative;
  padding: $diagnoal-height + $padding 0;

  h2 {
    color: white;

    &:after {
      border-color: white;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      display: block;
      max-height: 50px;
      filter: brightness(0) invert(1);
      margin: $padding / 2;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    .brand {
      width: 50%;

      img {
        max-width: 100%;
      }

      p {
        max-width: 100%;
        text-align: left;
      }

      .social {
        justify-content: flex-start;
      }
    }

    form {
      width: 50%;
    }
  }

  #directors {
    .director {
      width: 150px;
      height: 150px;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header {
    .brand {
      width: 75%;

      img {
        max-width: 50%;
      }

      p {
        max-width: 70%;
        text-align: left;
      }

      .social {
        justify-content: flex-start;
      }
    }

    form {
      width: 25%;
    }
  }

  #directors {
    .director {
      width: 200px;
      height: 200px;
    }
  }
}
