---
---

@import "base";
@import "variables";

header {
  .about p {
    margin: 40px 0 0 0;
    width: 60%;
    line-height: 1.24;
    font-family: 'Poppins', sans-serif;
  }

  .button {
    display: inline-block;
    padding: 8px 17px 12px 22px;
    margin-top: 30px;
    border-radius: 4px;
    background-color: $orange-yellow;
    margin-bottom: 40px;

    color: $black;
    font-size: 20px;
  }
}

h2 {
  font-size: 22px;

  margin-bottom: 40px;
}


#advisors,
#directors {
  color: white;
  background-color: $grape-purple;

  padding-top: 100px;

  .picture {
    display: block;
    height: 320px;
    width: 100%;
    background-color: #d9e0e6;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
  }

  h3 {
    margin: 20px 0 8px 0;
    color: white;
    font-size: 32px;
  }

  p {
    margin-bottom: 14px;
  }

  a {
    display: block;
    color: $orange-yellow;
    font-size: 18px;
    font-style: italic;

    i {
      font-size: 14px;
      margin-left: 5px;
    }
  }

  .col {
    margin-bottom: 60px;
  }
}

#advisors {
  background-color: #f8fafc;

  h2,
  h3,
  p {
    color: $black;
  }

  a {
    color: $grape-purple;
  }
}

#conduct {
  padding-top: 100px;

  line-height: 1.5;

  strong {
    font-style: italic;
  }
}

#partners {
  padding: 100px 0;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  header {
    .about p {
      width: 50%;
      font-size: 30px;
      font-weight: 700;
    }
  }

  #conduct {
    background: linear-gradient(90deg, rgba($orange-yellow, .1) 50%, #FFFFFF 50%);

    .col:first-of-type {
      padding-right: 100px;
      padding-bottom: 100px;
    }

    .col:last-of-type {
      padding-left: 100px;
      padding-bottom: 100px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  header {
    .about p {
      margin: 118px 0 0 0;
      width: 60%;
      font-size: 42px;
    }

    .button {
      margin-bottom: 0;
    }
  }
}
