---
layout: home
---

{% include join.html %}

<section id="conduct">
  <div class="container">
    <h2>Code of Conduct</h2>

    <div class="row">
      <div class="col-12 col-lg-6">
        <p><strong>No spamming.</strong> We encourage participation in authentic way. This way you help contribute to the health and longevity of the group.</p>

        <p><strong>We do not tolerate disrespectful behaviour</strong> towards other members of the community, this includes demeaning, discriminatory or harassing messages. Exercise consideration. Basically: “Don't be that guy (or girl)”.</p>

        <p><strong>Attempt collaboration before conflict.</strong> No one is perfect, but let's try to understand why we disagree first. Learning to de-escalate a hostile situation is a life skill, let's practice some of it here.</p>

        <p><strong>Don't keep silent if you observe hurtful behaviour.</strong> One can only try and fix what one is aware of. Please report your concerns to <a href="mailto:communitybuildersio@gmail.com">communitybuildersio@gmail.com</a>. All reports will be handled with discretion.</p>
      </div>

      <div class="col-12 col-lg-6">
        <p>It's simple, this is <em>a curated group made by community builders for community builders</em>. You must be a community builder to join. It is for community builders to learn from each other first and foremost.</p>

        <p>We assume everyone in our community is intelligent and well meaning. We will not tell you what to do, however there are a few things that this group requires in order for it to operate at full value to its members:</p>

        <p>Community Builders are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, age, sexual orientation, ability, ethnicity, socioeconomic status, technological choices, and religion (or lack thereof).</p>

        <p>Community Builders reserves the right to ban those that do not follow the basic tenants of this code of conduct after fair warning and prior discussion with moderators.</p>
      </div>
  </div>
</section>

<section id="survey">
  <div class="container">
    <h2>Community Survey</h2>

    <iframe class="hidden-md-down" src="https://communitybuilders.typeform.com/to/iSQZKg"></iframe>

    <div class="hidden-lg-up">
      <p>Please take 5 minutes to participate in this short, anonymous survey.</p>
      <p><small>The results will be used for a report that will be published in Canadian Community Builders' online channels. The data will help to benchmark career growth and best practices in the field of community building.</small></p>

      <a class="btn btn-primary" href="https://communitybuilders.typeform.com/to/iSQZKg">Take the survey now</a>
    </div>
  </div>
</section>

{% if site.events.size %}
  <section id="events">
    <div class="container">
      <h2>Upcoming Events</h2>

      {% for event in site.events %}
        <iframe class="hidden-md-down" src="{{ event.iframe }}" frameborder="0"></iframe>

        <div class="row hidden-lg-up">
          <div class="col-12">
            <p>{{ event.title }}</p>
          </div>

          <div class="col-6">
            <small>{{ event.date }}</small>
          </div>

          <div class="col-6">
            <a class="btn btn-primary" href="{{ event.link }}">Tickets</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

<section id="directors">
  <div class="container">

    <h2>Directors</h2>

    <div class="row directors">
      {% for director in site.directors %}
        {% assign id = director.name | slugify %}

        <div class="col-12 col-lg-4 col-md-4">
          <a href="{{ director.url | replace: 'index.html', '' }}" class="picture" style="background-image: url('/assets/images/directors/{{ id }}.jpg')"></a>

          <h3>{{ director.name }}</h3>

          <p>{{ director.title }}<br/>{{ director.company }}</p>

          <a href="{{ director.url | replace: 'index.html', '' }}">View bio <i class="fa fa-long-arrow-right"></i></a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="advisors">
  <div class="container">

    <h2>Advisors</h2>

    <div class="row">
    {% for advisor in site.data.advisors %}
      <div class="col-12 col-lg-4 col-md-4">
        <a href="{{ advisor.link }}" target="_blank" class="picture" style="background-image: url('/assets/images/advisors/{{ advisor.name | slugify }}.jpg')"></a>

        <h3>{{ advisor.name }}</h3>

        <p>{{ advisor.title }}</p>

        <a href="{{ advisor.link }}">View bio <i class="fa fa-long-arrow-right"></i></a>
      </div>
    {% endfor %}
  </div>
</section>

<section id="partners">
  <div class="container">
    <h2>Community Partners</h2>

    <a href="https://breather.com" target="_blank"><img src="/assets/images/partners/breather.png"/></a>
  </div>
</section>

<script>
  var ul = document.querySelector('.directors')
  for (var i = ul.children.length; i >= 0; i--) {
    ul.appendChild(ul.children[Math.random() * i | 0])
  }
</script>
