---
layout: home
---

<section id="directors">
  <div class="container">
    <h2>Directors</h2>

    {% for director in site.directors %}
      {% assign id = director.name | slugify %}

      <a href="/directors/#{{ id }}" class="director" style="background-image: url('/assets/images/directors/{{ id }}.jpg')" data-id="{{ director.name | slugify }}">
        <h3>{{ director.name }}</h3>
      </a>
    {% endfor %}

    <div class="director" style="background-image: url('/assets/images/directors/you.jpg')" data-id="join">
      <h3>YOU!</h3>
    </div>
  </div>
</section>

<section id="conduct">
  <div class="container">
    {% capture conduct %}{% include conduct.md %}{% endcapture %}
    {{ conduct | markdownify }}
  </div>
</section>

<section id="advisors">
  <h2>Advisors</h2>

  <div class="container">
    {% for advisor in site.data.advisors %}
      <a href="{{ advisor.link }}" target="_blank"><img alt="{{ advisor.name }}" src="/assets/images/advisors/{{ advisor.name | slugify }}.png"/></a>
    {% endfor %}
  </div>
</section>

