@import '../../css/variables.css';

.conduct {
  padding-top: 100px;

  line-height: 1.5;

  & strong {
    font-style: italic;
  }

  @media (min-width: 992px) {
    background: linear-gradient(90deg, color(var(--orange-yellow) alpha(10%)) 50%, #FFFFFF 50%);

    & [class^=col]:first-of-type {
      padding-right: 100px;
      padding-bottom: 100px;
    }

    & [class^=col]:last-of-type {
      padding-left: 100px;
      padding-bottom: 100px;
    }
  }
}
