@charset "utf-8";

@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:600,700|Cormorant+Garamond');

@import "variables";

html {
  display: flex;
  height: 100%;

  justify-content: center;
}

body {
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  color: $black;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}

main {
  flex: 1 1 100%;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

header {
  padding-top: 40px;

  min-height: 350px;
  background-image: url('/assets/images/illustration.svg'), url('/assets/images/illustration-bg.png');
  background-repeat: no-repeat, repeat-x;
  background-size: contain, 100% 40%;
  background-position: center calc(100% + 1px), bottom;

  .logo {
    width: 125px;
  }
}

footer.primary {
  background-color: $grape-purple;
  padding: 100px 0;
  color: white;

  .cta {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.17;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
  }

  form {
    width: 100%;
    display: block;

    input {
      width: 100%;
      font-size: 18px;
      line-height: 1.67;
      padding-bottom: 5px;
      margin-bottom: 25px;

      color: white;
      outline: 0;

      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(#ffffff, .4);

      &::-webkit-input-placeholder {
        color: rgba(#ffffff, .5);
      }

      &::-moz-placeholder {
        color: rgba(#ffffff, .5);
      }

      &:-ms-input-placeholder {
        color: rgba(#ffffff, .5);
      }

      &:-moz-placeholder {
        color: rgba(#ffffff, .5);
      }

      &::placeholder {
        color: rgba(#ffffff, .5);
      }
    }

    button {
      margin-top: 15px;
      border-radius: 4px;
      background-color: $orange-yellow;
      border: none;
      padding: 3px 20px 7px 20px;
      font-size: 18px;
      line-height: 1.67;
    }
  }
}

 footer.secondary {
  background-color: white;
  text-align: center;
  font-size: 14px;
  line-height: 2.14;

  .container {
    height: 90px;
  }

  span {
    display: none;
  }

  img {
    width: 40px;
    margin-right: 5px;
  }

  p a {
    color: $grape-purple;
  }

  .social {
    margin-left: auto;

    a {
      margin-left: 5px;

      i {
        color: $black;
      }

      &:hover {
        i {
          color: $grape-purple;
        }
      }
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  footer.secondary {
    text-align: left;

    span {
      display: inline;
    }

    .container {
      display: flex;
      align-items: center;

      p {
        margin-bottom: 0;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  header {
    padding-top: 60px;
    min-height: 720px;
  }


  footer.primary {
    .cta {
      font-size: 48px;
      margin-bottom: 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
