---
layout: default
---

<header style="background-image: url('/assets/images/directors/{{ page.name | slugify }}.jpg')">
  <div class="container">
    <a href="/"><img class="logo" src="/assets/images/logo-full.png"/></a>

    {% include social.html %}
  </div>
</header>

<main class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h1>{{ page.name }}</h1>
      <p>{{ page.title }}, {{ page.company }}</p>

      <i class="fa fa-slack"></i> <a href="https://cancommunitybuilders.slack.com/team/{{ page.slack }}">@{{ page.slack }}</a><br/>
      {% if page.twitter %}<i class="fa fa-twitter"></i> <a href="https://twitter.com/{{ page.twitter }}" target="_blank">@{{ page.twitter }}</a>{% endif %}
    </div>

    <div class="col-12 col-lg-6">
      {{ content }}
    </div>
  </div>
</main>

{% include join.html %}
