---
layout: default
---

<header>
  <div class="container">
    <a href="/"><img src="/assets/images/logo.png"/></a>

    <div class="social hidden-sm-down">
      <a href="https://cancommunitybuilders.slack.com/" target="_blank"><i class="fa fa-2x fa-fw fa-slack"></i></a>
      <a href="https://twitter.com/communi_build" target="_blank"><i class="fa fa-2x fa-fw fa-twitter-square"></i></a>
      <a href="https://www.instagram.com/community_builders/" target="_blank"><i class="fa fa-2x fa-fw fa-instagram"></i></a>
      <a href="https://www.facebook.com/commbuilders/" target="_blank"><i class="fa fa-2x fa-fw fa-facebook-square"></i></a>
    </div>
  </div>
</header>

<main>
  {{ content }}
</main>
